<div class="container">
<%= form_for @user, :html => { :class => "form-horizontal user" } do |f| %>

  <% if @user.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @user.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :title_id, :class => 'control-label col-lg-2' %>
    <div class="col-sm-1">
      <%= f.collection_select :title_id,Title.all,:id,:position, {}, {class:'form-control'} %>
    </div>
    <%=f.error_span(:title_id) %>
  </div>
  <div class="form-group">
    <%= f.label :user_status_id, :class => 'control-label col-lg-2' %>
    <div class="col-sm-1">
      <%= f.collection_select :user_status_id, UserStatus.all, :id,:description, {}, {class: 'form-control'} %>
    </div>
    <%=f.error_span(:user_status_id) %>
  </div>
  <div class="form-group">
    <%= f.label :fname, 'First Name', :class => 'control-label col-lg-2' %>
    <div class="col-sm-2">
      <%= f.text_field :fname, :class => 'form-control' %>
    </div>
    <%=f.error_span(:fname) %>
  </div>
  <div class="form-group">
    <%= f.label :lname, 'Last Name', :class => 'control-label col-lg-2' %>
    <div class="col-sm-2">
      <%= f.text_field :lname, :class => 'form-control' %>
    </div>
    <%=f.error_span(:lname) %>
  </div>
  <div class="form-group">
    <%= f.label :phone, :class => 'control-label col-lg-2' %>
    <div class="col-sm-1">
      <%= f.text_field :phone, :class => 'form-control' %>
    </div>
    <%=f.error_span(:phone) %>
  </div>
  <div class="form-group">
    <%= f.label :email, :class => 'control-label col-lg-2' %>
    <div class="col-sm-3">
      <%= f.text_field :email, :class => 'form-control' %>
    </div>
    <%=f.error_span(:email) %>
  </div>
  <div class="form-group">
    <%= f.label :address, :class => 'control-label col-lg-2' %>
    <div class="col-sm-3">
      <%= f.text_field :address, :class => 'form-control' %>
    </div>
    <%=f.error_span(:address) %>
  </div>
  <div class="form-group">
    <%= f.label :state, :class => 'control-label col-sm-2' %>
    <div class="col-sm-2">
      <%= f.select :state, options_for_select(us_states, @user.state),{}, class: 'form-control' %>
    </div>
    <%=f.error_span(:state) %>
  </div>
  <div class="form-group">
    <%= f.label :city, :class => 'control-label col-lg-2' %>
    <div class="col-sm-1">
      <%= f.text_field :city, :class => 'form-control' %>
    </div>
    <%=f.error_span(:city) %>
  </div>
  <div class="form-group">
    <%= f.label :comment, :class => 'control-label col-lg-2' %>
    <div class="col-lg-2">
      <%= f.text_area :comment, :class => 'form-control' %>
    </div>
    <%=f.error_span(:comment) %>
  </div>

  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                users_path, :class => 'btn btn-default' %>
    </div>
  </div>

<% end %>
</div>