<%= form_for @ticket_status, :html => { :class => "form-horizontal ticket_status" } do |f| %>

  <% if @ticket_status.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@ticket_status.errors.count, "error") %> prohibited this ticket_status from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @ticket_status.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :description, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :description, :class => 'form-control' %>
    </div>
    <%=f.error_span(:description) %>
  </div>

  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                ticket_statuses_path, :class => 'btn btn-default' %>
    </div>
  </div>

<% end %>
