<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" data-toggle="collapse" data-target="#navbar-main">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/">Washertia 4 you #3</a>
    </div>
    <div class="navbar-collapse collapse" id="navbar-main">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Link</a>
        </li>
        <li><%= link_to 'User', users_path %>
        </li>
        <li><a href="#">Link</a>
        </li>
        <li><a href="#">Link</a>
        </li>
        <li><a href="#">Link</a>
        </li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown">Dropdown <b class="caret"></b></a>
          <ul class="dropdown-menu">
            <li><a href="#">Action</a>
            </li>
            <li><a href="#">Another action</a>
            </li>
            <li><a href="#">Something else here</a>
            </li>
            <li class="divider"></li>
            <li><a href="#">Separated link</a>
            </li>
            <li class="divider"></li>
            <li><a href="#">One more separated link</a>
            </li>
          </ul>
        </li>
      </ul>


        <!--<form class="navbar-form navbar-right" role="search">-->
        <!--<div class="form-group">-->
        <!--<input type="text" class="form-control" name="username" placeholder="Username">-->
        <!--</div>-->
        <!--<div class="form-group">-->
        <!--<input type="text" class="form-control" name="password" placeholder="Password">-->
        <!--</div>-->
        <!--<button type="submit" class="btn btn-default">Sign In</button>-->
        <!--</form>-->
        </div>
  </div>
</nav>